<div class="banner">
  <div class="banner__item">
    <svg [cIcon]="icons.cilCash" width="75" title="User Icon"></svg>
    <div>
      <h5>Discount</h5>
      <p>Every week new sales</p>
    </div>
  </div>

  <div class="banner__item">
    <svg [cIcon]="icons.cilTruck" width="75" title="User Icon"></svg>
    <div>
      <h5>Free Delivery</h5>
      <p>100% Free for all orders</p>
    </div>
  </div>

  <div class="banner__item">
    <svg [cIcon]="icons.cilAvTimer" width="75" title="User Icon"></svg>
    <div>
      <h5>Great Support 24/7</h5>
      <p>We care your experiences</p>
    </div>
  </div>

  <div class="banner__item">
    <svg [cIcon]="icons.cilBank" width="75" title="User Icon"></svg>
    <div>
      <h5>Secure Payment</h5>
      <p>100% Secure Payment Method</p>
    </div>
  </div>
</div>
