@import "../../../styles.scss";

article {
  display: flex;
  position: relative;
  width: $spacing-300;
  height: $spacing-300;

  img {
    border-radius: $spacing-5;
    width: $spacing-300;
    height: $spacing-300;
    object-fit: cover;
  }

  section {
    position: absolute;
    top: $spacing-220;
    left: $spacing-30;

    h5,
    p {
      color: $light-yellow;
    }
  }

  :hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px $spacing-7 $spacing-29 0px;
    transition: all ease-in-out 200ms;

    h5,
    p {
      cursor: pointer;
      color: $white;
    }
  }
}
