<div class="footer-container">
  <div class="footer-container__item">
    <h5>Comforty</h5>
    <span>
      Vivamus tristique odio sit amet velit semper, eu posuere turpis
      interdum.Cras egestas purus
    </span>
  </div>

  <div class="footer-container__item">
    <h6>CATEGORY</h6>
    <a>Sofa</a>
    <a>Armchair</a>
    <a>Desk Chair</a>
    <a>Wooden Chair</a>
  </div>

  <div class="footer-container__item">
    <h6>SUPPORT</h6>
    <a> Help & Support </a>
    <a> Terms & Condintions </a>
    <a> Privacy Policy </a>
    <a> Help </a>
  </div>

  <div class="footer-container__item">
    <h6>NEWSLETTER</h6>
  </div>
</div>
