$spacing-1: 0.063rem;
$spacing-2: 0.125rem;
$spacing-3: 0.188rem;
$spacing-5: 0.313rem;
$spacing-7: 0.438rem;
$spacing-9: 0.5rem;
$spacing-10: 0.625rem;
$spacing-15: 0.938rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-29: 1.813;
$spacing-30: 1.875rem;
$spacing-40: 2.5rem;
$spacing-50: 3.125rem;
$spacing-60: 3.75rem;
$spacing-100: 6.25rem;
$spacing-220: 13.75rem;
$spacing-300: 18.75rem;
