<div
  *ngIf="contentLoaded | async; else loadingSpinner"
  class="top-categories-container"
>
  <h2>Top categories</h2>
  <div>
    <div
      class="top-categories-container__card"
      *ngFor="let category of topCategories"
    >
      <app-category-card
        (onCategoryClick)="onCategoryClick(category)"
        [category]="category"
      ></app-category-card>
    </div>
  </div>
  <button cButton color="light" (click)="onTriggerCategoryModal(true)">
    Check all categories
  </button>
</div>

<app-category-picker
  *ngIf="showCategoryModal"
  [categories]="categories"
  (closeEventEmitter)="onTriggerCategoryModal(false)"
  (saveEventEmitter)="onSaveCategoryModal()"
></app-category-picker>

<ng-template #loadingSpinner>
  <c-spinner></c-spinner>
</ng-template>
