@import "../../../../styles.scss";

h2 {
  text-align: center;
}

c-tab-content {
  border: $spacing-1 solid $light-blue-3;
  border-top: 0px;
}

c-spinner {
  margin: auto;
  display: flex;
  width: $spacing-100;
  height: $spacing-100;
}
